*{
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
} 

.invalid{
    display: none;
}
#checkout-form{
    position: relative;
    top: 168px;
    display: flex;
    margin: 32px 24px;
}
.customer-details{
    flex: 7;
    margin: 12px 24px 12px 18px;
}
.order-details{
    flex: 5;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
}
.form-group > label{
    width: 100%;
}
.form-group > input{
    padding: 10px 12px;
    font-size: 16px;
    margin: 8px 0;
}
.customer-details > h3{
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    border-top: 3px solid #c0b1b1;
}
#customer-name{
    width: 100%;
}
#customer-address{
    width: 100%;
}
.customer-contact{
    display: flex;
    flex-wrap: wrap;
}
#customer-email, #customer-phonenumber{
    width: 100%;
    flex: 1;
    max-height: 39px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.phonenumber-field{
    margin-right: 13px;
    width: 48%;
}
.email-field{
    margin-left: 13px;
    width: 48%;
}
.order-comment-label{
    margin: 12px 0;
    font-weight: 550;
}
#order-comment{
    font-family: 'Roboto', sans-serif;
    padding: 12px 12px;
    font-size: 16px;
    height: 150px;
}
.customer-details label{
    font-weight: 550;
}
.form-message{
    font-size: 15px;
    color: red;
}
.customer-note{
    font-size: 18px;
    margin: 32px 28px;
}
.checkout-sidebar{
    width: 100%;
}
.order-details{
    position: relative;
    margin: 12px 24px 12px 18px;
    border: 2px solid #322f2f;
}
.order-review-heading{
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.product-name-heading{
    text-transform: uppercase;
    text-align: left;
}
.checkout-review-order-table{
    margin: 12px 28px;
    width: 90%;
}
.product-total-heading{
    text-transform: uppercase;
    text-align: right;
    padding-bottom: 12px;
}
.checkout-review-order-table{
    border-collapse: collapse;
}
.checkout-review-order-table > thead{
    border-bottom: 3px solid #9d8989;
    width: 80%;
    margin: 0px 12px;
}
.cart-item{
    width: 100%;
}
.cart-item > td{
    padding: 15px 0;
    border-bottom: 1px solid #b19797;
}
.product-name{
    text-align: left;

}
tr > th{
    text-align: left;
}
tr > td{
    text-align: right;
}

.cart-subtotal > td, .shipping > td{
    font-weight: 550;
    
}
.cart-item > .product-total{
    font-weight: 550;
}
tfoot > tr > td, tfoot > tr > th{
    padding: 15px 0;
    border-bottom: 1px solid #b19797;
}
.order-total > th, .order-total > td{
    border-bottom: 3px solid #9d8989;
}

.payment-methods{
    margin: 12px 28px;
}

.payment-method-bacs{
    margin-bottom: 12px;
}
.payment-method-bacs, .payment-method-cod{
    list-style-type: none;
}
.payment-method-bacs > label, .payment-method-cod > label{
    font-weight: 550;
    font-size: 18px;
}
.payment-box{
    margin: 6px 0;
}

#pay-btn{
    align-items: center;
    padding: 12px 32px;
    margin: 18px auto;
    display: flex;
    justify-self: center;
    font-size: 20px;
    font-weight: 550;
    background-color: rgb(201, 34, 34);
    color: #fff;
    border: none;
}
#pay-btn:hover{
    cursor: pointer;
    opacity: 0.6;
}
.invalid{
    display: none;
}