* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BEGIN SIDEBAR */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 230px;
    background-color: rgb(32,33,33);
}

.sidebar .logo {
    display: flex;
    line-height: 64px;
    width: 230px;
    padding: 0 10px;
}

.sidebar .logo i,
.sidebar .logo p{
    color: rgb(255, 255, 255);
    line-height: 64px;
    text-align: center;
    font-size: 26.5px;
    font-weight: 400;
    align-items: center;
}

.sidebar-menu {
    margin-top: 24px;
    width: 100%;
    height: 100%;
    /* display: flex; */
}


.sidebar-menu a{
    color: rgb(255,255,255);
    text-decoration: none;
    display: flex;
}

.sidebar-menu .menu {
    display: flex;
}

.sidebar-menu .menu {
    height: 46px;
    width: 100%;
    padding-left: 18px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.sidebar-menu .qlloairuou {
    background-color: rgb(104,174,0);
}

.sidebar-menu .menu p {
    margin-left: 11px;
}

/* BEGIN HEADER */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 230px;
  background-color: rgb(255,255,255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header a{
  padding: 30px;
  font-size: 18px;
  background-color: #68AE00;
}

.header a:hover {
  background-color: #6d6666;
  color: #68AE00;
}

/* BEGIN INNER-BLOCK */

.content-wrapper {
    min-height: 1016px;
    margin-left: 230px;
    margin-right: 0;
    background-color: rgb(250,250,250);
    /* background-color: black; */
}

.content-header {
    display: flex;
    box-sizing: border-box;
    margin-top: 64px;
    background-color: rgb(250,250,250);

    padding: 20px 20px 0 20px;
}

.content-header >h4 {
    font-size: 20px;
    line-height: 36px;
    display: block;
    width: 828px;
    color: rgb(51, 51, 51);
}

.content-header .breadcrumb {
    line-height: 36px;
}

.content-header .breadcrumb a,
.content-header .breadcrumb i {
    text-decoration: none;
    color: rgb(68,68,68);
}

.table-container  th, td {
    border: 1px solid #000;
    height: 80px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.table-container > table{
    width: 90%;
    border-spacing: 0;
    border: 1px solid #000;
   
}

.table-container  a {
    text-decoration: none;
    
}

.thumbnail{
    height: 200px;
    padding: 0px 20px;
}

.addbtn-container{
    display: flex;
    justify-items: center;
    align-items: center;
}

.addbtn{
    background-color: rgb(51,122,183);
    padding: 6px;
    border: none;
    margin: auto;
}

.addbtn a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255,255,255);
}

.page-bar{
    width: 300px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    padding: 2px 0px;
    background-color: #ffffff;
    justify-content: center;
    align-content: center;
}

.page-box{
    width: 25px;
    color: black;
    text-align: center ;
    margin:1px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

.currentpage{
    width: 25px;
    color: white;
    text-align: center ;
    margin:1px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(104,174,0);
}