*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
html{
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
}
.disable{
    display: none;
}
.container{
    width: 450px;
    font-size: 18px;
    margin: 24px auto;
    border: 1px solid #bc76da;
}
.login-register{
    display: flex;
}
.login-register-btn{
    flex: 1;
    height: 55px;
    background-color: #fff;
    font-size: 22px;
}

.login-btn{
    background-color: #41da74;
    font-weight: 550;
}
.register-btn{
    background-color: #edd069;
    font-weight: 550;
}

/* form */
.form-group{
    margin: 16px auto;

}
.heading{
    text-align: center;
    margin: 12px 6px;
}
.form-group > input{
    margin: 6px 16px;
    min-width: 90%;
    height: 32px;
    padding: 6px 6px;
    font-size: 16px;
}
.form-group > label{
    margin: auto 16px;
    font-weight: 550;
    padding-left: 12px;
}
.form-message{
    margin: auto 16px;
    font-size: 14px;
    font-size: 16px;
}
.form-submit{
    background-color: rgb(99, 45, 209);
    padding: 12px 40px;
    height: 45px;
    border: none;
    margin: 12px auto;
    display: flex;
    color: #fff;
    font-size: 18px;
    border-radius: 99px;
}

.form-group > input{
    border-radius: 99px;
    padding: 22px 12px;
}
#password-forgot{
    margin: 0 26px;
}
.invalid{
    color: red;
}

.login-btn:hover, .register-btn:hover, .form-submit:hover{
    cursor: pointer;
    opacity: 0.8;
}