<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserSignUp</servlet-name>
        <servlet-class>controller.user.UserSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignIn</servlet-name>
        <servlet-class>controller.user.UserSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHome</servlet-name>
        <servlet-class>controller.user.UserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCart</servlet-name>
        <servlet-class>controller.user.UserCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCartCheckQuantity</servlet-name>
        <servlet-class>controller.user.UserCartCheckQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.user.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePassword</servlet-name>
        <servlet-class>controller.user.UserChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignOut</servlet-name>
        <servlet-class>controller.user.UserSignOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSignUp</servlet-name>
        <url-pattern>/user_sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignIn</servlet-name>
        <url-pattern>/user_sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/user_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCart</servlet-name>
        <url-pattern>/user_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCartCheckQuantity</servlet-name>
        <url-pattern>/user_cart_check_quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/user_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePassword</servlet-name>
        <url-pattern>/user_change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignOut</servlet-name>
        <url-pattern>/user_sign_out</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
