<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminAccessFilter</filter-name>
        <filter-class>filter.AdminAccessFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminSignInFilter</filter-name>
        <filter-class>filter.AdminSignInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserSignInFilter</filter-name>
        <filter-class>filter.UserSignInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PreviousPageFilter</filter-name>
        <filter-class>filter.PreviousPageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PreviousPageFilter</filter-name>
        <url-pattern>/add_category</url-pattern>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/categories</url-pattern>
        <url-pattern>/delete_category</url-pattern>
        <url-pattern>/deleteproduct</url-pattern>
        <url-pattern>/delete_user</url-pattern>
        <url-pattern>/list_user</url-pattern>
        <url-pattern>/products</url-pattern>
        <url-pattern>/update_category</url-pattern>
        <url-pattern>/updateproduct</url-pattern>
        <url-pattern>/update_user</url-pattern>
        <url-pattern>/user_change_password</url-pattern>
        <url-pattern>/user_update_profile</url-pattern>
        <url-pattern>/user_profile</url-pattern>
        <url-pattern>/productdetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserSignInFilter</filter-name>
        <url-pattern>/user_change_password</url-pattern>
        <url-pattern>/user_update_profile</url-pattern>
        <url-pattern>/user_profile</url-pattern>
        <url-pattern>/AddComments</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAccessFilter</filter-name>
        <url-pattern>/add_category</url-pattern>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/categories</url-pattern>
        <url-pattern>/delete_category</url-pattern>
        <url-pattern>/deleteproduct</url-pattern>
        <url-pattern>/delete_user</url-pattern>
        <url-pattern>/list_user</url-pattern>
        <url-pattern>/products</url-pattern>
        <url-pattern>/update_category</url-pattern>
        <url-pattern>/updateproduct</url-pattern>
        <url-pattern>/update_user</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminSignInFilter</filter-name>
        <url-pattern>/list_user</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UserSignUp</servlet-name>
        <servlet-class>controller.user.UserSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignIn</servlet-name>
        <servlet-class>controller.user.UserSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCart</servlet-name>
        <servlet-class>controller.user.UserCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCartCheckQuantity</servlet-name>
        <servlet-class>controller.user.UserCartCheckQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.user.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePassword</servlet-name>
        <servlet-class>controller.user.UserChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.user.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignIn</servlet-name>
        <servlet-class>controller.admin.AdminSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListUser</servlet-name>
        <servlet-class>controller.admin.AdminListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUser</servlet-name>
        <servlet-class>controller.admin.AdminUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUser</servlet-name>
        <servlet-class>controller.admin.AdminDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>controller.user.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateProfile</servlet-name>
        <servlet-class>controller.user.UserUpdateProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSignUp</servlet-name>
        <url-pattern>/user_sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignIn</servlet-name>
        <url-pattern>/user_sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/user_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePassword</servlet-name>
        <url-pattern>/user_change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignIn</servlet-name>
        <url-pattern>/admin_sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListUser</servlet-name>
        <url-pattern>/list_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUser</servlet-name>
        <url-pattern>/update_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUser</servlet-name>
        <url-pattern>/delete_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/sign_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateProfile</servlet-name>
        <url-pattern>/user_update_profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/views/user/error_404.jsp</location>
    </error-page>
</web-app>
