/* reset */
*{
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
} 


.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid-row{
    display: flex;
    flex-wrap: wrap;
}
/* .container{
    position: relative;
} */
.main{
    display: flex;
    position: relative;
    top: 162px;
}
.inside{
    flex: 1;
    box-shadow: 1px 1px 1px #000;
    
}
.content{
    flex: 3;
    width: 100%;
}
.nav-bar{
    height: 45px;
    background-color: #694f97;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 45px;
    padding-left: 56px;
    position: relative;
    top: 162px;
}
.filter-heading{
    background-color: #ec1414;
    text-transform: uppercase;
    padding: 12px;
    margin: 15px 12px;
    text-align:center;
    color: #fff;

    
}
.product-search-form{
    border: 1px solid #000;
    margin: 15px 28px;
    display: inline-block;
}
.product-search-content{
    height: 36px;
    border: none;
    padding: auto 8px;
    width: 200px;
}
.icon-product-search{
    background-color: #ec0d0d;
    color: #fff;
    padding: 10px 10px;
    
}
.icon-product-search:hover{
    opacity: 0.8;
    cursor: pointer;
}
#price, #branch, #alcohol-level, #capacity{
    width: 250px;
    height: 30px;
    margin: 10px 28px;
}

.filter-by-price-form{
    /* display: flex; */
    flex-direction: column;
    align-items: start;
    margin: 15px 32px;
    
}

.filter{
    display: flex;
    margin: 16px 16px;
    justify-content: space-around;
}
.clear-btn{
    border: none;
    background-color: #d2ea4b;
    padding: 6px 12px;
    font-size: 18px;
}
.filter-btn{
    border: none;
    background-color: #14be07;
    padding: 6px 12px;
    font-size: 18px;
}
.clear-btn:hover, .filter-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* content */
.heading-product{
    margin: 16px 34px;
}
.product-sort{
    display: flex;
    justify-content: end;
    position: relative;
    margin-right: 32px;
    margin: 16px;
}

#sorted-list{
    font-size: 16px;
}
.product-list > li > a{
    text-decoration: none;
}
.product-list > li{
    list-style-type: none;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 70px 42px;

    flex-direction: row;
}
.product-item{
    border: 1px solid #000;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 32px;
    flex-basis: 30%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 1.5%;
    margin-right: 1.5%;
    min-height: 240px;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-product{
    min-width: 120px;
    max-width: 240px;
    width: 100%;
    height: 70%;
    margin-top: 20px;
}
.initial-price, .product-name, .sale-price{
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
}
.initial-price{
    color: red;
}
.sale-price{
    color:#085302;
}


.page-bar{
    position: relative;
    bottom: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.page-box{
    width: 25px;
    color: black;
    text-align: center ;
    margin:1px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

.currentpage{
    width: 25px;
    color: white;
    text-align: center ;
    margin:1px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color:  #ec1414;
}