*{
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    background-color: #f1e7e7;
} 

.invalid{
    display: none;
}

/* slider */
.prev-btn, .next-btn{
    font-size: 50px;
    color: #fff;
    position: absolute;
    z-index: 9;
}
.prev-btn:hover, .next-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
.prev-btn{
    line-height: 600px;
    left: 35px;
}
.next-btn{
    line-height: 600px;
    right: 35px;
    top: 0px;
}
.slider-container{
    position: relative;
    top: 160px;
}
.slider-wrapper{
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
}
.slider-main{
    display: flex;
    position: relative;
    transition: transform .75s linear;
}
.slider-item{
    width: 100%;
    height: 100%;
    flex: 1 100%;
    
}
.slider-item > img{
    height: 600px;
    width: 100vw;
}
.slider-item:hover{
    cursor: grabbing;
}
.slider-dots{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    z-index: 10;
}

.slider-dots li.active{
    background-color: #fff;
    width: 32px;
}
.slider-dot-item{
    width: 15px;
    height: 15px;
    background-color: #a2d8e3;
    margin: 0 16px;
    border-radius: 99px;
    border: none;
    transition: background-color .25s linear;
}
.slider-dot-item:hover{
    cursor: pointer;
    color: burlywood;
}

/* ná»™i dung */
.is-devider{
    height: 3px;
    display: block;
    background-color: #e12d2d;
    width: 100%;
    max-width: 100px;
    margin: 12px auto;
    margin-bottom: 42px;
}

.branch-heading{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.view-all{
    display: flex;
    /* position: relative; */
    flex-direction: row-reverse;
    margin-bottom: 10px;
    margin-right: 36px;
    font-size: 25px;
    font-weight: 510;
}
.view-all:hover{
    cursor: pointer;
    opacity: 0.8;
}
.branch-heading:hover{
    cursor: pointer;
    opacity: 0.8;
}
.product-introduction{
    position: relative;
    top: 200px;
    z-index: 6;
    margin: 0 32px;
}
.list-products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.product-item{
    background-color: #fff;
    flex-basis: 22%;
    padding: 12px 16px;
    justify-self: center;
    height: 450px;
    margin: 12px 20px;
    
    
}
.product-item:hover{
    cursor: pointer;
}
.product-img > img{
    width: 100%;
    max-width: 300px;
    height: 300px;
}

.product-item > p > del{
    color: red;
}
.product-item > p{
    margin: 6px 4px;
    text-align: center;
    font-size: 18px;
}
.product-item > h2{
    margin: 6px 4px;
    text-align: center;
    font-size: 25px;
    min-height: 55px;
}
