* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BEGIN SIDEBAR */
main{
    width: 100%;
}
.sidebar {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 230px;
    z-index: 1;
    background-color: rgb(32,33,33);
}

.sidebar .logo {
    display: flex;
    line-height: 64px;
    width: 230px;
    padding: 0 10px;
}

.sidebar .logo i,
.sidebar .logo p{
    color: rgb(255, 255, 255);
    line-height: 64px;
    text-align: center;
    font-size: 26.5px;
    font-weight: 400;
    align-items: center;
}

.sidebar-menu {
    margin-top: 24px;
    width: 100%;
    height: 100%;
    /* display: flex; */
}


.sidebar-menu a{
    color: rgb(255,255,255);
    text-decoration: none;
    display: flex;
}

.sidebar-menu .menu {
    display: flex;
}

.sidebar-menu .menu {
    height: 46px;
    width: 100%;
    padding-left: 18px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.sidebar-menu .donhang {
    background-color: rgb(104,174,0);
}

.sidebar-menu .menu p {
    margin-left: 11px;
}

/* BEGIN HEADER */

.header {
    position: fixed;
    top: 0;
    height: 64px;
    right: 0;
    width: 100%;
    left: 0px;
    background-color: rgb(255,255,255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.header-menu {
    line-height: 64px;
    text-align: center;
    width: 40px;
    float: left;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
}

.header .nav {
    float: right;
    display: flex;
}

.header .navbar {
    line-height: 64px;
    text-align: center;
    width: 148px;
    margin-right: 18px;
    /* background-color: coral; */
}

.header .navbar ul{
    display: flex;
    list-style: none; 
}

.header .navbar a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(111,111,111);
}

.header .navbar li {
    width: 33.3333%;
}

.header .user {
    display: flex;
    text-align: center;
    line-height: 64px;
    margin-right: 20px;
}


.header .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-right: 6px;
}

.header .user i {
    margin-top: 24px;
    margin-left: 6px;
}

/* Main */

.content-wrapper{
    position: absolute;
    top: 70px;
    left: 250px;
}

.form-search{
    margin: 32px 250px;
}
#search-input{
    width: 60%;
    padding: 8px 8px;
    font-size: 18px;
}
#search-btn{
    padding: 8px 8px;
    font-size: 18px;
    width: 120px;
}

.message{
    font-size: 18px;
    color: red;
    
}

.view-all{
    display: flex;
    flex-flow: row-reverse;
    text-decoration: none;
}
#view-all-btn{
    padding: 8px 8px;
    font-size: 18px;
    width: 120px;
    margin-right: 35px;
    
}

#view-all-btn:hover{
    cursor: pointer;
}

#list-orders{
    margin: 16px 0;
   
    border-collapse: collapse;
}
.theader{
    border-bottom: 3px solid #beb6b6;
}
.order-id, .tbody__order-id{
    padding: 12px 10px;
    word-wrap: break-word;
    max-width: 90px;
}

.customer-name, .tbody__customer-name{
    padding: 12px 15px;
    word-wrap: break-word;
    max-width: 150px;
}

.phonenumber, .tbody__phonenumber{
    padding: 12px 15px;
    word-wrap: break-word;
    max-width: 140px;
}

.address, .tbody__address{
    padding: 12px 15px;
    word-wrap: break-word;
    max-width: 200px;
}

.order-date, .tbody__order-date{
    padding: 12px 15px;
    word-wrap: break-word;
    max-width: 150px;
}

.status, .tbody__status{
    padding: 12px 15px;
    word-wrap: break-word;
    max-width: 190px;
}

.total-money, .tbody__total-money{
    padding: 12px 15px;
    word-wrap: break-word;
    max-width: 150px;
}
.note, .tbody__note{
    padding: 12px 15px;
    word-wrap: break-word;
    max-width: 150px;
}
tr > td{
    padding: 12px 8px;
    text-align: center;
}

.cancel-btn, .confirm-btn, .success-btn{
    padding: 4px 8px;
    margin: 4px auto;
}
.cancel-btn{
    background-color: #ed3131;
    color:#fff;
}
.confirm-btn{
    background-color: #e6f876;
    color:#643232;
}
.success-btn{
    background-color: #8b9642;
    color:#1b073e;
}

td{
    font-size: 18px;
}
th{
    font-size: 20px;
    background-color: antiquewhite;
}
tr{
    border-bottom: 2px solix #e51b1b;
}

.tbody__order-id > a{
    color: #335bde;
    text-decoration: none;
}
.tbody__order-id > a:hover{
    color:#ed3131;
}
tr.tbody:nth-of-type(odd) td{
    background-color:#eee4e4;
}
        
tr.tbody:nth-of-type(even) td{
    background-color:#fff;
}
tr.tbody:hover td{
    cursor: pointer;
    background-color: rgb(168, 178, 217);
}